html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #fff;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;

  /* com o tamanho da grid sendo Flex já é automaticamente stretch */
  /* justify-content: center; */
  /* align-content: center; */

  justify-items: center;
  align-items: center;
}

.container > div {
  width: 50%;
  height: 50%;
  background: #7159c1;
}

/* .container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas: 'header header' 'main aside' 'footer footer';
}

header {
  background: skyblue;
  grid-area: header;
}

main {
  background: steelblue;
  grid-area: main;
}

aside {
  background: yellowgreen;
  grid-area: aside;
}

footer {
  background: gray;
  grid-area: footer;
} */
